<%- include('../_common/includes/head') %>
  <link rel="stylesheet" href="/css/forms.css">
  </head>

  <body>
    <%- include('../_common/includes/header') %>
      <div class="centered-flex">
        <form action="/login" method="POST">
          <div class="form-control">
            <label for="email">email</label>
            <input type="email" name="email" value="<%= prevData ? prevData?.email  : ''%>"
              class="<%= validationErrors ? 'invalid' : '' %>" id="email">
          </div>
          <div class="form-control">
            <label for="password">password</label>
            <input type="text" name="password" value="<%= prevData ? prevData?.password : '' %>"
              class="<%= validationErrors ? 'invalid' : '' %>" id="password">
          </div>
          <% if(errorMessage) { %>
            <div>
              <%= errorMessage %>
            </div>
            <% } %>
              <input type="hidden" name="_csrf" value="<%= csurfToken %>" />
              <button type="submit" class="btn">Login</button>
        </form>
        <div class="centered">
          <a href="/reset-password">Reset Password</a>
        </div>
      </div>
  </body>

  </html>