<%- include('../_common/includes/head') %>
  <link rel="stylesheet" href="/css/product.css">
  </head>

  <body>
    <%- include('../_common/includes/header') %>

      <main>
        <h1>My Products</h1>
        <p>List of all the products...</p>
        <% if(productsCount){ %>
          <p>products found: <%= productsCount %></p>
        <% } %>
        
        <% if(products.length> 0){ %>
          <% products.map((product)=>{ %>
            <div class="grid">
              <article class="card product-item">
                <header class="card__header">
                  <h1 class="product__title">
                    <%= product.title %>
                  </h1>
                </header>
                <div class="card__image">
                  <img src="<%= product.imageUrl %>" alt="A Book">
                </div>
                <div class="card__content">
                  <h2 class="product__price">
                    <%= product.price %>
                  </h2>
                  <p class="product__description">
                    <%= product.description %>
                  </p>
                </div>
                <div class="card__actions">
                  <%- include('../_common/includes/add-to-cart', {product, isLoggedIn}) %>
                    <!-- <button type="submit" class="btn">Delete</button> -->
                </div>
              </article>
            </div>
            <% }) %>
            <%- include('../_common/includes/pagination', {currentPage, prevPage, nextPage, lastPage, hasNextPage}) %>
              <% } else {%>
                <h1>Product Not Found</h1>
              <% } %>
      </main>
  </body>

  </html>