<%- include('../_common/includes/head') %>
    <link rel="stylesheet" href="/css/product.css">
    </head>

    <body>
        <%- include('../_common/includes/header') %>

            <main>
                <h1>My Products</h1>
                <p>List of all the products...</p>
                <p>
                    <%= total %>
                </p>
                <% if(products.length> 0){ %>
                    <% products.map((product)=>{ %>
                        <div class="grid">
                            <article class="card product-item">
                                <header class="card__header">
                                    <h1 class="product__title">
                                        <%= product.title %>
                                    </h1>
                                </header>
                                <div class="card__image">
                                    <img src="<%= product.imageUrl %>" alt="A Book">
                                </div>
                                <div class="card__conte nt">
                                    <h2 class="product__price">
                                        <%= product.price %>
                                    </h2>
                                    <p class="product__description">
                                        <%= product.description %>
                                    </p>
                                    <strong class="centred">quantity: <%= product.cartItem.quantity %></strong>
                                </div>
                                <div class="card__actions">
                                    <%- include('../_common/includes/add-to-cart', {product}) %>
                                        <form action="/cart/delete-product" method="POST">
                                            <input type="text" name="id" hidden value="<%= product.id %>" />
                                            <input type="text" name="price" hidden value="<%= product.price %>" />
                                            <button type="submit" class="btn">Delete</button>
                                        </form>
                                </div>
                            </article>
                        </div>
                        <% }) %>
                            <div class="centred">
                                <form action="/create-order" method="POST">
                                    <button type="submit" class="btn">Order Now!</button>
                                </form>
                            </div>
                            <% } else {%>
                                <h1>Product Not Found</h1>
                                <% } %>

            </main>
    </body>

    </html>