<%- include('../_common/includes/head') %>
    </head>

    <body>
        <%- include('../_common/includes/header') %>

            <h1>Product Details</h1>
            <% if(product !==null) { %>
                <h1>
                    <%= product.title %>
                </h1>
                <div class="card__image" style="width: 300px;">
                    <img src="<%= product?.imageUrl %>" alt="A Book">
                </div>
                <div class="card__content">
                    <h2 class="product__price">
                        price: <%= product?.price %>
                    </h2>
                    <p class="product__description">
                        description: <%= product?.description %>
                    </p>
                    <%- include('../_common/includes/add-to-cart') %>
                </div>
                <% }else{ %>
                    <h1>
                        product not found
                    </h1>
                    <% } %>
    </body>

    </html>